package {{.PackageName}}

import (
	"time"
)

type {{.ExportModelName}} struct {
{{range .TableSchema}} {{.ColumnName | ExportColumn}} {{.DataType | TypeConvert}} {{. | Tags}} // {{.ColumnComment}}
{{end}}}
